* {
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.01em;
  font-weight: 300;
}

body, html {
  max-width: 100%;
  margin: auto;
  background-color: #272a2b;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  border-left: 4px solid #b81111;
  border-bottom: 4px solid #b81111;
  border-top: 4px solid #3f8c38;
  border-right: 4px solid #3f8c38;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  margin-right: 2rem;
  margin-top: 0.3rem;
}

/*Nav Drawer-----------------------------------------------------------*/

.navDrawerfalse {
  display: none;
} 

.navDrawertrue {
  width: 50vw;
  height: 100vh;
  background-color: #232426;
  box-shadow: -10px 0px 28px -2px rgba(0,0,0,0.68);
  opacity: 0.98;
  position: fixed;
  top: 0;
  right: 0;
  animation: slidein 0.3s;
  overflow: hidden;
  z-index: 100;
  
}

@keyframes slidein {
  from {
    width: -100;
    height: 0;
  }

  to {
    width: 50%;
    height: 100%;
  }
}

.navDrawertrue li {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 1rem;
  color: #fff;
}

.navDrawertrue i {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 1rem;
  color: #b81111;
}

nav {
  padding: 1.5rem;
}

.bigScreenNav {
  display: none;
}

h1 {
  display: flex;
  background-color: #d2e4f1;
  padding: 0.2rem 4rem 0.1rem 2rem;
  color: #000;
}

button {
  background-color: #2d3b40;
  color: #fff;
  border-width: 0 0 1px 0;
  border-color: #d2e4f1;
  padding: 0.4rem;
}

select {
  color: #000;
  background-color: #d2e4f1;
  border: none;
  padding: 0.2rem;
}

option {
  color: #000;
}

input {
  color: #000;
}

ul {
  margin: auto;
  padding: 0;
  list-style: none;
  width: 100%;
}

a {
  text-decoration: none;
}

.topic {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: auto;
  padding: 0;
}

.upClicked {
  background-color: #3f8c38;
  padding: 0.5rem;
}

.downClicked {
  background-color: #b81111;
  padding: 0.5rem;
}

.notClicked {
  padding: 0.5rem;
}

.voting {
  display: flex;
  font-size: 1.5rem;
}

.loader {
  border-left: 12px solid #b81111;
  border-bottom: 12px solid #b81111;
  border-top: 12px solid #3f8c38;
  border-right: 12px solid #3f8c38;
  width: 75px;
  height: 75px;
  animation: spin 5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* media queries */

@media only screen and (min-width: 800px) {
  body {
    max-width: 1200px;
  }

  ul {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  li {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #2d3b40;
    margin: 0.4rem;
  }

  section {
    border: none;
  }

  .smallScreenNav {
    display: none;
  }

  .bigScreenNav {
    display: flex;
  }

  .bigScreenNav ul {
    display: flex;
    flex-direction: row;
}

  .bigScreenNav li {
    margin: 0.2rem 0 0.5rem 1rem;
    padding: 0.3rem;
    font-size: 1rem;
  }

}