.App {
  text-align: center; 
}

* {
  font-weight: 300;
  color: #d2e4f1;
}

#root {
  max-width: 500px;
  margin: auto;
  background-color: #0e1530;
  color: #d2e4f1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

h1 {
  background-color: #d2e4f1;
  padding: 0.2rem 4rem 0.2rem 4rem;
  color: #0e1530;
}

nav {
  padding: 1.5rem;
}

button {
  color: #0e1530;
  background-color: #d2e4f1;
  border: none;
  padding: 0.2rem;
}

select {
  color: #0e1530;
  background-color: #d2e4f1;
  border: none;
  padding: 0.2rem;
}

option {
  color: #0e1530;
}

input {
  color: #0e1530;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
  max-width: calc(100% - 1rem);
}

.articleForm {
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #d2e4f1;
}

img {
  max-width: 100px;
  max-height: 100px;
}

article {
  border-style: dotted;
  border-width: 1px 0 0 0;
  margin: auto;
}

.topic {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: auto;
  padding: 0;
}

.upClicked {
  background-color: darkolivegreen;
}

.downClicked {
  background-color: tomato;
}

.notClicked {
  background-color: aliceblue;
}

.loader {
  border-left: 12px solid tomato;
  border-bottom: 12px solid tomato;
  border-top: 12px solid darkolivegreen;
  border-right: 12px solid darkolivegreen;
  width: 75px;
  height: 75px;
  animation: spin 5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
